## Customer Placing the Largest Number of Orders

In [ ]:
Table: Orders

+-----------------+----------+
| Column Name     | Type     |
+-----------------+----------+
| order_number    | int      |
| customer_number | int      |
+-----------------+----------+
order_number is the primary key (column with unique values) for this table.
This table contains information about the order ID and the customer ID.
 

Write a solution to find the customer_number for the customer who has placed the largest number of orders.

The test cases are generated so that exactly one customer will have placed more orders than any other customer.

The result format is in the following example.

 

Example 1:

Input: 
Orders table:
+--------------+-----------------+
| order_number | customer_number |
+--------------+-----------------+
| 1            | 1               |
| 2            | 2               |
| 3            | 3               |
| 4            | 3               |
+--------------+-----------------+
Output: 
+-----------------+
| customer_number |
+-----------------+
| 3               |
+-----------------+
Explanation: 
The customer with number 3 has two orders, which is greater than either customer 1 or 2 because each 
of them only has one order. 
So the result is customer_number 3.
 

Follow up: What if more than one customer has the largest number of orders, can you find all 
    the customer_number in this case?

In [2]:
import pandas as pd

# Sample data
data = {
    'order_number': [1, 2, 3, 4],
    'customer_number': [1, 2, 3, 3]
}

# Create a DataFrame from the sample data
orders_df = pd.DataFrame(data)

In [3]:
orders_df

   order_number  customer_number
0             1                1
1             2                2
2             3                3
3             4                3

In [4]:
def largest_orders(orders: pd.DataFrame) -> pd.DataFrame:
    orders_df=orders.groupby(['customer_number'])[['order_number']].count().reset_index()
    return orders_df[['customer_number']].head(1)

In [5]:
largest_orders(orders_df)

   customer_number
0                1